export PS1="\[$(tput bold)\]\[\033[48;5;17m\]\u\[$(tput sgr0)\]\[$(tput sgr0)\]\[\033[38;5;9m\]@\[$(tput sgr0)\]\[\033[38;5;118m\]\h\[$(tput sgr0)\]\[\033[38;5;83m\] \[$(tput sgr0)\]\[\033[38;5;226m\]\[\033[48;5;-1m\]\w\[$(tput sgr0)\]\[\033[38;5;220m\]-\[$(tput sgr0)\]\[\033[38;5;208m\]>\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]"
